 <ul class="main-nav nav nav-tabs nav-stacked">
		
		<li ng-repeat="node in nodes">
		    <a ui-sref={{node.mapurl}}>
		         {{node.name}}
		    </a>
		 </li>
       <!--  <li >
            <a ui-sref="main.list.employee.list">
                <i class="glyphicon glyphicon-user"></i>
                                                   个人信息
            </a>
        </li>
        <li>
            <a ui-sref="main.list.organization.list">
                <i class="glyphicon glyphicon-bell"></i>
                机构管理 <span class="label label-warning pull-right">5</span>
            </a>
        </li>
        <li>
            <a ui-sref="main.list.department.list">
                <i class="glyphicon glyphicon-comment"></i>
              部门管理
            </a>
        </li>
        <li>
            <a ui-sref="main.list.module.list">
                <i class="glyphicon glyphicon-hand-right"></i>
               系统模块
                <span class="label label-warning pull-right">5</span>
            </a>
        </li>

        <li>
            <a ui-sref="main.list.node.list">
                <i class="glyphicon glyphicon-th-list"></i>
              功能管理
            </a>
        </li>


        <li>
            <a href="./grid.html">
                <i class="glyphicon glyphicon-file"></i>
                工作报告
            </a>
        </li> -->
  </ul>
