    <ul class="main-nav nav nav-tabs nav-stacked">
        <li>
            <a ui-sref="main.list.employee.list">
                <i class="glyphicon glyphicon-user"></i>
                                                   个人信息
            </a>
        </li>
        <li>
            <a ui-sref="main.list.organization.list">
                <i class="glyphicon glyphicon-bell"></i>
                机构管理 <span class="label label-warning pull-right">5</span>
            </a>
        </li>
        <li>
            <a ui-sref="main.list.department.list">
                <i class="glyphicon glyphicon-comment"></i>
              部门管理
            </a>
        </li>
        <li>
            <a href="./grid.html">
                <i class="glyphicon glyphicon-hand-right"></i>
                待办任务
                <span class="label label-warning pull-right">5</span>
            </a>
        </li>

        <li>
            <a href="./grid.html">
                <i class="glyphicon glyphicon-th-list"></i>
                工作计划
            </a>
        </li>


        <li>
            <a href="./grid.html">
                <i class="glyphicon glyphicon-file"></i>
                工作报告
            </a>
        </li>
  </ul>
