<div ng-controller="organizationDisplayController">
	<div class="row" ng-init="getDisplayInitData()">
		<form class="col-md-12 form-horizontal" >
			<div class="row rowddd"></div>
			<div class="form-group">
				<div class="col-md-10">
					<input class="btn btn-primary col-md-offset-1"  type="button" value="返回"
						ng-click="returnList()" />
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-3 control-label" for="realName"> 机构名称: </label>
				<div class="col-md-9">
						<span class="form-control">{{organization.name}}</span>
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-3 control-label" for="code"> 编码: </label>
				<div class="col-md-9">
					<span class="form-control">{{organization.code}}</span>
				</div>
			</div>
	</div>
</div>
