.navbar-inverse {
    background-color: #217CFF;
    border-color: #217CFF;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
    font-weight: bold;
}
.navbar-inverse .navbar-nav > li > a:hover,.navbar-inverse .navbar-nav > li > a:focus{
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: #105BC7;
    text-align: center;
}

.gridStyle{
    border: 1px solid rgb(212,212,212);
    width: 600px; 
    height: 600px;
}
.form-control {
    display: inline-block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.button-box{
	width: 100%;
	height: 60px;
	line-height: 60px;	
}