<div ng-controller="employeeFormController">
	<div class="row">
		<form class="col-md-12 form-horizontal" name="employeeForm" novalidate>
			<div class="row rowddd"></div>
			<div class="form-group">
				<div class="col-md-10">
					<input class="btn btn-success col-md-offset-2" type="button"
						value="保存" type="submit" ng-click="saveEmployee(employee)"/>
				
				</div>
			</div>
			<div class="col-md-11">
			   	&nbsp;&nbsp;&nbsp;&nbsp;基本信息
			   <hr>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" for="realName"> 姓名： </label>
				<div class="col-md-8">
					<input type="text" class="form-control" ng-model="employee.name"
						name="name" required />
				</div>
			</div>
			<div class="form-group col-md-6">
				<label class="col-md-4 control-label" for="password"> 密码： </label>
				<div class="col-md-8">
					<input type="password" class="form-control" value="123456" ng-model="employee.password"
						name="password"/>
				</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="code" >性别：</label>
			 	<div class="col-md-2control-label">
			 		<input type="radio"  ng-model="employee.code" name="sex"/>男&nbsp;&nbsp;&nbsp;&nbsp;
			 		<input type="radio"  ng-model="employee.code" name="sex"/>女
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="sex" >民族：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >籍贯：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >户籍所在地：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >身份证号：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >出生年月：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >政治面貌：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >入党时间：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >照片：</label>
			 	<div class="col-md-8">
			 		<input type="file" class="form-control"/>
			 	</div>
			</div>
			<div class="col-md-11">
			   	&nbsp;&nbsp;&nbsp;&nbsp;岗位信息
			   <hr>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >所在岗位：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >所在部门：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >入职时间：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >转正时间：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >任职资格：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="col-md-11">
			   	&nbsp;&nbsp;&nbsp;&nbsp;学历信息
			   <hr>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >毕业学校：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >所学专业：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >学位性质：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >毕业时间：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="col-md-11">
			   	&nbsp;&nbsp;&nbsp;&nbsp;家庭信息
			   <hr>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >家庭住址：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >联系电话：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >配偶姓名：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
			<div class="form-group col-md-6">
			 	<label class="col-md-4 control-label" for="" >配偶工作单位：</label>
			 	<div class="col-md-8">
			 		<input type="text" class="form-control"/>
			 	</div>
			</div>
		</form>
	</div>
</div>
