<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqut.dao.message.MessageDao">
	<resultMap id="MessageMap" type="com.cqut.entity.Message">
        <result property="EId" column="EId"/>
        <result property="name" column="name"/>
        <result property="content" column="content"/>
        <result property="publishDate" column="publishDate"/>
        <result property="publisher" column="publisher"/>
    </resultMap>
    
    <insert id="insertMessage" parameterType="com.cqut.entity.Message">
    	insert into message(name,content,publishDate,publisher)
    	values(#{name},#{content},#{publishDate},#{publisher})
    </insert>
    
    <select id="getAllMessages" parameterType="String" resultMap="MessageMap">
    	select * from message
    </select>
    
    <select id="getMessageById"  resultMap="MessageMap">
    	select * from message where EId=#{EId}
    </select>
</mapper>       